<h1> Booking Details </h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-borderless">
                <tr>
                    <td>Name:</td>
                    <td id="name1"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td id="address1"></td>
                </tr>
                <tr>
                    <td>Phone No:</td>
                    <td id="phone_no1"></td>
                </tr>
                <tr>
                    <td>Number of Seats:</td>
                    <td id="no_of_seats1"></td>
                </tr>
                <tr>
                    <td>Selected Seat:</td>
                    <td id="selected1"></td>
                </tr>
                <tr>
                    <td>Total Amount:</td>
                    <td id="amount1"></td>
                </tr>
            </table>
        </div>
        <div class="col-4 align-right">
            <qrcode [level]="1" ></qrcode>
        </div>
    </div>
</div>